body{
    background-image: url("bk1.png");
}



h1,h2,h4,h6 {
    background-color: lightgreen;
    border-radius: 10px;
}
  


p{
    text-align: justify;
    font-family: sans-serif;
}

* {
    font-family: sans-serif;
}


.left{
    
 <!-- max-width:60px; -->
    margin: 0px;
    height: 2417px;
    background-color: aliceblue;
    overflow: hidden;
    float: left;
    
}


#maincontainer{
    margin-left: 20%;
    width: 60%;
    <!-- max-width:100px; -->
    background-color: burlywood;
 }

.right{
    
    float: right;
    width:67%;
    background-color: aliceblue;
 
   
}
.right h1{
    text-align: center;
}

img{
    width: 220px;
    height: 260px;
    border-radius: 25px;
    box-shadow: 1px 1px 5px lightpink;
}

.profilecontainer{
    float: left;
    margin: 25px;
    
}




h5{
    text-align: center;

}
.details{
   overflow: hidden;
   display: table; 
    background-color:lightcyan;
    margin: 0px;
    padding: 15px;
    outline: 0px;
    text-align: center;
    text-shadow: .2px .5px 1px black;

    font-family: Cardo, Arial; font-size: 15px;


  
    
    width: 220px;
    height: 260px;

    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 1px 1px 5px lightpink;

    
}

.top1 , .top2 , .top3, .top4 ,.top5 {
    padding: 10px;
}

